<% provide(:title, '一覧') %>
<h1>ユーザ一覧</h1>


  

<%= will_paginate %>

  <div class="name_form">
  <%= form_with model: User.new, method: :get, local: true do |form| %>
  <%= form.label "ユーザー名検索" %><br>
  <%= form.text_field :name %>
  <%= form.submit "検索", {class: "search_name"} %>
  <% end %>
  </div>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
    ｜<%= link_to "基本情報編集", edit_basic_info_user_path(user) %>
    ｜<%= link_to "削除", user, method: :delete, data: { confirm: "削除してよろしいですか？" } %>
  <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>

